<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <link rel="icon" href="/icon/favicon.ico"> -->
    <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
    <title>にじえったー</title>
</head>
<body>
<div id="top">
    <div class="title-area">
        <p class="title">
            <span class="title-main">にじえったー</span><br>
            Twitterのタイムラインから二次元イラスト「っぽいもの」を抽出します<br>
            <span class="long-margin"><a href="./auth"><img src="/images/sign-in-with-twitter-gray.png"></a></span>
        </p>
    </div>
</div>
<script src="/javascripts/bundle-inactive.js"></script>
</body>
</html>